.select {
  position: relative;
  width: 220px;
}

.select__trigger {
  cursor: pointer;
  width: 220px;
  border: 1px solid var(--gray-500);
  padding: var(--padding-xs);
  background: transparent;
  text-align: left;
  border-radius: var(--border-radius-xs);
}

.select__menu {
  width: inherit;
  position: absolute;
  margin-top: var(--padding-xs);
  border-radius: var(--border-radius-xs);
  overflow: hidden;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.optionItem {
  cursor: pointer;
  display: block;
  background: #fff;
  border: none;
  width: 100%;
  padding: var(--padding-xs);
  text-align: left;
}

.optionItem--disabled {
  color: var(--gray-600);
  cursor: default;
}

.optionItem--current {
  background: var(--gray-300);
}

.optgroup__label {
  font-size: var(--font-size-sm);
  padding-left: var(--padding-xxs2);
  font-weight: bold;
}

.optionItem--active:hover {
  background-color: var(--gray-700);
}
