.dialog__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.dialog {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
}

.dialog__header {
  padding: 16px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.dialog__header__title {
  font-size: 18px;
}

.dialog__header__button {
  background: none;
  border: none;
  font-size: 21px;
  cursor: pointer;
}

.dialog__content {
  padding: 16px;
}

.dialog__footer {
  border-top: 1px solid #ccc;
  padding: 8px 16px;
  display: flex;
  justify-content: flex-end;
}
