.dialog__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index-modal);
}

.dialog {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  max-width: 500px;
  width: 100%;
  border-radius: var(--border-radius-xs);
}

.dialog__header {
  padding: var(--padding-md);
  font-size: var(--front-size-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-500);
}

.dialog__header__title {
  font-size: var(--font-size-md);
}

.dialog__header__button {
  background: none;
  border: none;
  font-size: var(--font-size-md);
  cursor: pointer;
}

.dialog__content {
  padding: var(--padding-md);
}

.dialog__footer {
  border-top: 1px solid var(--gray-500);
  padding: var(--padding-xs) var(--padding-md);
  display: flex;
  justify-content: flex-end;
}
