.expandable__button {
  background: transparent;
  border: none;
  color: blue;
  font-size: var(--font-size-sm);
  cursor: pointer;
}
.expandable__container {
  width: 400px;
}

.expandable__content {
  margin: var(--padding-md) 0 var(--padding-xs);
}
