.button {
  border: none;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--border-radius-xs);
  cursor: pointer;
  font-weight: bold;
}

.button--primary {
  background-color: var(--blue-500);
  color: var(--white);
}

.button--secundary {
  background-color: var(--yellow-500);
  color: var(--black);
}
