.spinButton {
  display: flex;
  align-items: center;
  gap: var(--padding-xs);
  margin: var(--padding-xs) 0;
}

.spinButton__button {
  background-color: transparent;
  border: none;
  font-size: var(--font-size-sm2);
  cursor: pointer;
}

.spinButton__label {
  font-size: var(--font-size-sm2);
}
