.tab__container {
}

.tabHeader {
  display: flex;
  align-items: center;
  gap: var(--padding-xs);
  padding-bottom: var(--padding-md);
}

.tab__panel__item {
}

.tabHeader__item {
  border-radius: var(--border-radius-sm);
  padding: var(--padding-xs) var(--padding-md);
  background-color: #f1f1f1;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.tabHeader__item--active {
  background: var(--blue-500);
  color: var(--white);
  border-bottom: none;
}

.tabHeader__item--disabled {
  background-color: var(--gray-300);
  color: var(--gray-500);
  cursor: not-allowed;
}
