.badge {
  font-size: var(--font-size-xs);
  padding: var(--padding-xxs) var(--padding-xs);
  font-weight: bold;
  border-radius: var(--border-radius-xs);
}

.badge--default {
  color: var(--white);
  background: var(--gray-900);
}

.badge--warn {
  color: var(--white);
  background: var(--orange-500);
}

.badge--danger {
  color: var(--white);
  background: var(--red-500);
}
